# Ignore vscode folder
.vscode/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Python local installation files
*.egg-info/
*.egg
dist/
build/

# Ignore virtual environment directories
.venv/
.env/
.conda/
.conda-master/

migration/
